.Registreren {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 8px 0;

}

.Dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
}

.Dropbtn:hover {
    background-color: #ddd;
}

.fa {
    margin-right: 30px; /* Hier pas ik de afstand tussen het icoon en de tekst aan */
    font-size: 18px;
}


